allow system_app proc_pagetypeinfo:file { getattr open read };
allow system_app sysfs_zram:dir { read search };
allow system_app sysfs_zram:file { getattr open read };
allow system_app storaged:binder { call };

get_prop(system_app, vendor_default_prop)
