get_prop(untrusted_app, vendor_default_prop)

# Some apps ship with shared libraries and binaries that they write out
# to their sandbox directory and then execute.
allow untrusted_app app_data_file:file { r_file_perms execute };
auditallow untrusted_app app_data_file:file execute;

allow untrusted_app dalvikcache_data_file:file execute;
